* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;

  font-size: 16px;
}
header {
  width: 100%;
  height: 100vh;
}
.navigation {
  height: 60px;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000000;
}
.navigation__menu {
  margin-left: 50px;
}
.navigation__logo-container {
  position: fixed;
  top: 0;
  left: 30px;
}
.navigation__logo-container img {
  width: 70px;
}
.navigation__menu-item {
  margin: 0 30px 0 15px;
  font-size: 0.95em;
  color: var(--second-text-color);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-weight: 900;
  transition: all 0.5s ease-in;
  position: relative;
  z-index: 1000000;
  padding: 10px 5px;
  cursor: pointer;
}
.navigation__menu-item:hover {
  text-decoration: none;
  color: var(--main-shadow-text);
}
.menu-toggle {
  color: black;
  width: 40px;
  cursor: pointer;
}

.container-text {
  z-index: 10;
  height: 100%;
  padding-top: -50px;
  position: relative;
  animation: text-show 1s ease-in;
}
.main-text {
  font-size: 3.4em;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--main-text-color);
  font-weight: 600;
  font-family: "Lato", sans-serif;
  line-height: 100px;
}
.second-text {
  color: var(--second-text-color);
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 1.5px;
  line-height: 35px;
}
.background-img {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100vh;
  z-index: 1;
}
.big-leave_top {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 200px;
}

.group_top {
  position: absolute;
  top: 0;
  z-index: 1;
}
.big-leave_down {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 300px;
}
.leave-group_down {
  position: absolute;
  bottom: 0;
  z-index: 1;
  transform-origin: bottom;
}
.container-left {
  padding-left: 50px;
}

.section-title {
  padding-top: 80px;
}
.section-about {
  padding-bottom: 80px;
  background: #888;
}
.description-text {
  padding-top: 50px;
}
@keyframes text-show {
  0% {
    opacity: 0.1;
    margin-left: 100px;
  }
  to {
    opacity: 1;
  }
}
.container__skills {
  margin-top: 100px;
}
.container__skills-text {
  margin-top: 30px;
  font-size: 1.5em;
  font-weight: 500;
}
.conatiner__skills-img {
  width: 150px;
  height: 150px;
}
