* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}
header {
  height: 100%;
  background-color: #fafafa;
}
.navigation {
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 10px 0;
}
.navigation--bright {
  background: var(--white);
  transition-duration: 0.1s;
}
.navigation-logo {
  width: 50px;
  height: 30px;
  margin-left: 30px;
  transition: fill 0.3s ease-in-out;
}
.navigation-logo:hover .logo1 {
  fill: #00c9ac;
}
.navigation__menu-toggle > img {
  width: 30px;
  height: 30px;
  margin-right: 40px;
}
.navigation__menu > a {
  margin: 0 30px 0 15px;
  color: var(--dark-blue);
  transition: color 0.15s ease-in;
}
.navigation__menu-item:hover,
.navigation-moblie-text:hover {
  text-decoration: none;
  color: var(--bright-blue);
}
.container-text {
  height: 100%;
  top: 10px;
  left: 0;
  height: 90vh;
  z-index: 2;
  position: relative;
  animation: bounceInLeft 1.5s ease-in;
}
.main-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #48998c;
  font-weight: 600;
  font-size: 10vw;
  line-height: 13vw;
  margin-left: 25px;
}
.second-text {
  color: var(--bright-blue);
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 20px;
  line-height: 1.8rem;
  letter-spacing: 0.375rem;
}
.absolute {
  position: absolute;
}
.background-img {
  top: 40px;
  right: 0;
  height: 90vh;
  z-index: 1;
}
.small-stain-header {
  z-index: 1;
  margin-top: -140px;
}
.small-stain-about {
  right: 0;
  bottom: -140px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 1;
}
.small-stain-skills {
  left: 0;
  bottom: -150px;
  z-index: 1;
}
.container-left {
  padding-left: 50px;
}
.section-title {
  padding-top: 80px;
  color: var(--white);
  font-weight: 600;
  letter-spacing: 0px;
  font-size: 3.5rem;
  letter-spacing: 1px;
  z-index: 2;
  position: relative;
}
.section-about {
  padding-bottom: 80px;
  width: 100%;
  height: 100%;
  background: #20232c;
  position: relative;
}
.description-container {
  padding-top: 50px;
}
.description-graphic {
  margin-top: 80px;
}
.description-graphic_container {
  margin-top: 30px;
}
.description-graphic_text {
  margin: 20px 0 0 35px;
  position: relative;
  z-index: 2;
  font-family: arial !important;
  color: #7a89ab;
  line-height: 1.4rem;
}
.description_img {
  width: 220px;
  height: 220px;
}
.section-skills {
  background: #70c1b3;
  position: relative;
  width: 100%;
  height: 100%;
}
.skills {
  margin-top: 100px;
}
.skill__desc > p {
  margin: 25px 0 80px 0;

  letter-spacing: 0.1px;
  color: var(--white);
  position: relative;
  z-index: 5;
}
.skill__desc > img {
  width: 110px;
  height: 110px;
}
.skill__rate > svg {
  width: 15px;
  height: 25px;
  margin-left: 30px;
}
.skill__rate > img {
  width: 15px;
  height: 25px;
  margin-left: 30px;
}
@media only screen and (max-width: 576px) {
  .navigtaion {
    background: #fafafa;
  }
}
@media only screen and (max-width: 992px) {
  .main-text {
    font-size: 14vw;
    line-height: 18vw;
  }
}
.project {
  height: 100%;
  background: #20232c;
}
.project-split {
  background: #000;
  margin-top: 80px;
}
.project-split__screen {
  overflow: hidden;
  transition: 1s;
  width: 100vw;
  height: 300px;
  padding: 0;
  cursor: pointer;
}
.project-split__screen:hover {
  opacity: 1;
  padding: 0;
}
.project-split__screen1,
.project-split__screen2,
.project-split__screen3 {
  background: #3f3f4d;
}
.project-split__screen1,
.project-split__screen2,
.project-split__screen3 {
  opacity: 0.4;
  background-size: cover;
}
.project-split__content {
  width: 100%;
  padding: 0;
  height: auto;
  background: #48998c;
  padding: 40px;
  transform: translateX(100%);
  transition: 0.5s;
  text-align: center;
  opacity: 0.7;
  margin-right: -15px;
  font-size: 1.1rem;
  position: absolute;
  bottom: 0;
  font-weight: 500;
}
.project-split .project-split__screen:hover .project-split__content {
  transform: translateX(0);
}
.project-split__content h2 {
  color: white;
}
.project-split__content p {
  color: white;
}
.svg-bubbles {
  width: 100%;
  height: 100vh;
  top: 0;
  position: relative;
}
.section-contact {
  background: #70c1b3;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
.container-hire_text {
  padding-top: 80px;
}
.form {
  margin-top: 50px;
  background: var(--white);
  border-radius: 10px;
  -webkit-box-shadow: 3px 5px 5px 0px #696865;
  -moz-box-shadow: 3px 5px 5px 0px #696865;
  box-shadow: 3px 5px 5px 0px #696865;
  padding-top: 20px;
}
label {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.form-control {
  margin-top: 20px;
  font-size: 1rem;
}
.form-group {
  padding-top: 20px;
}
.form-control:focus {
  outline: none;
  border-color: #1c7468;
  box-shadow: none;
}
.form-button {
  margin: 40px 0;
  border-radius: 10px;
  border: none;
  background: #1c7468;
  color: var(--white);
  padding: 8px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.25px;
  transition: all 0.3s ease-in;
  border: 2px solid #1c7468;
}
.form-button:hover {
  color: #1c7468;
  background: var(--white);
  border: 2px solid #1c7468;
}
.information-description-container {
  padding: 20px 0;
  line-height: 30px;
}
.information-description-text {
  margin-left: 40px;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.5;
}
.footer {
  background: #1d2028;
  padding: 30px 30px 35px 30px;
}

.footer-love-text,
.footer-social-text {
  color: var(--white);
  font-size: 1rem;
}
.footer-copyright-text {
  color: #888;
  font-size: 0.8rem;
  margin-top: 20px;
  padding: 5px;
}

.footer-love > img {
  height: 20px;
  margin-right: 10px;
}
.footer-copyright-desc {
  margin-top: 20px;
  color: var(--white);
}
.github,
.linkedin {
  margin-top: 10px;
  margin-right: 10px;
  width: 30px;
}
.github:hover circle {
  fill: #666;
}
.linkedin:hover circle {
  fill: #0e76a8;
}
.navigation-toggle {
  width: 30px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin-right: 30px;
  margin-top: -4px;
}
.navigation-toggle span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #1c7468;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  top: 10px;
}
.navigation-toggle span:nth-child(2) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navigation-toggle span:nth-child(3) {
  top: 30px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navigation-toggle.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 16px;
  left: 0px;
}
.navigation-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.navigation-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 27px;
  left: 5px;
}
.navigation-mobile {
  display: none;
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 10;
  background: #fafafa;
  height: 100vh;
  width: 100%;
}
.navigation-mobile-link {
  padding-top: 40px;
}
.navigation-mobile-container {
  height: 100%;
  margin-top: 100px;
}
.navigation--bright-container {
  height: 100%;
}
.navigation-moblie-text {
  color: var(--dark-blue);
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease-in;
}
.navigation-mobile-link > a {
  text-decoration: none;
}
.disable-scroll {
  overflow: hidden;
}
.app-loader {
  border: 10px solid;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: #48998c #48998c transparent;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10000000000000;
}
.project-split-text {
  color: var(--white);
  font-size: 1.4rem;
  top: 100px;
}
.navigation-toggle:hover span {
  background: #00c9ac;
}
.pointer {
  cursor: pointer;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.app {
  display: none;
}
